@font-face { 
    font-family: SourceSansPro;
    src: url(data/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face { 
    font-family: SourceSansPro-Black;
    src: url(data/Source_Sans_Pro/SourceSansPro-Black.ttf);
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #242429;
    color: #ffffff;
    font-family: SourceSansPro, helvetica, arial, sans serif;
    margin: 0;
}
.navbar-container {
    display: grid;
    background-color: #ffffff;
    outline-width: 1px;
    outline-color: #707070;
    outline-style: solid;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-decoration: none;
    color: #454647;
    grid-template-columns: 10em 6fr 7em 7em 6em;
}

.navbar-buttons {
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #454647
}

.navbar-buttons:hover {
    color: #d31fca;
}

.navbar-logo {
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-logo a {
    text-decoration: none;
}


.navbar-logo-text {
    margin-top: -1.55em;
    margin-left: 1em;
    text-decoration: none;
    font-size: 1.2em;
    color: #454647;
}

.navbar-logo-text:hover{
    color: #d31fca;
}

.main-container {
    display: grid;
    margin-top: 50px;
}

.main-container a {
    text-decoration: none;
    color: #707070;
}

.name-container {
    display: grid;
    width: 100%;
    padding-top: 8em;
    padding-bottom: 30em;
    background-color: #707070;
    grid-template-columns: auto;
}

.name-heading {
    font-family: SourceSansPro-Black, sans-serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.1em;
}

.name-text {
    font-size: 2em;
    font-family: monospace;
    margin-left: -14em;
    margin-top: -2em;
    text-align: center;
    color: #f8f8f8;
    pointer-events: none;
}

.about-container {
    color: #8f8f8f;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 10em;
}

.about-heading {
    font-family: SourceSansPro-Black, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-left: -7em;
}

.about-text {
    font-size: 2em;
    max-width: 20em;
    margin: 1em auto;
}

.my-stuff-container {
    background-color: #707070;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 10em;
}

.my-stuff-heading {
    font-family: SourceSansPro-Black, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-left: -8.35em;
}

.my-stuff-text {
    font-size: 2em;
    max-width: 20em;
    margin: 1em auto;    
}

.footer-container {
    display: grid;
    grid-template-columns: 10em 10em 10em 10em;
    background-color: #454647;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 0.7em;
}

.footer-container img {
    max-width: 3em;
    height: auto;
}

.footer-github {
    text-align: center;
}

.footer-twitter {
    text-align: center;
}

.footer-youtube {
    text-align: center;
}

.footer-email {
    text-align: center;
}